@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0F6FF; /* Body background */
  --foreground: #171717;
  --frame-color: #FFFFFF; /* Frame background */
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.frame {
  background-color: var(--frame-color);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Ensure padding doesn't increase width */
}


html {
  overflow-x: hidden; /* Ensure no horizontal scroll from the root */
}

.section-title {
  font-size: 2.5rem; /* Adjust as needed */
  font-weight: 700;
  text-align: center;
  color: var(--foreground);
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

